html{
	font-family:sans-serif;
}
h1{
	color:#cb4b16;
}
body{
	background-color:#002b36;
	color:white;
}

table {
  border-collapse: collapse;
  letter-spacing: 1px;
  width:100%;
  
}
tr:nth-child(odd) td {
	background-color:#002b36;
	color:#657b83;
}

td,th {
	color:#dc322f;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color:#073642;	
	color:#839496;
}
th{
text-align:center;
}
	
